header {
  background-color:pink;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height:auto;
}

nav {
  display: flex;
  justify-content: space-around;
  width:50%;
}

#bookOfTheDay{
  background-color: hotpink;
  display: grid;
  width:95%;
  margin: 0 2.5% 0 2.5% ;
  grid-template-columns: 1fr 1fr 1fr;
  
}

#bookByGenre{
  display: grid;
  background-color: brown;
  width:95%;
  margin:0 2.5% 0 2.5%;
  grid-template-columns: 1fr 1fr 1fr;
}

.bookTitle{
  width: 100%;
}

.bookDescription{
  width: 80%
}

.bookButton{
  width:15%;
  height: 4rem;
}

.bookList{
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr;
  width:95%;
  margin:0 2.5% 0 2.5%;
  justify-content: center;
  background-color: aquamarine;
  padding :0;
}

.bookOnList{
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 3rem 1fr;
  grid-auto-flow: column;
}

.no-style{
  all:unset;
}

#myAccountDropDown{
  display: flex;
  flex-direction: column;
}

#logoAndTitle{
  display: flex;
}