body {
  margin: 0;
  font-family: monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: monospace;
}

.tbk-heading {
  font-family: monospace;
  font-size: 2.7em;
  margin-left: 130%;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-right: -20%;
}


.tbk-titles {
  display: flex;
  justify-content: flex-end;
  line-height: 10%;
  font-size: 1.35em;
  text-align: right;
  color: #f4efe1;;
}

.bookOTDheader{
  font-size: 2.5em;
  font-family: monospace;
  color: #f4efe1;
  margin-left: 29%;

}

.bookkeepers-intro {
  position: relative;
}

.bookkeepers-intro img {
  margin-left: 25% !important;
}

.devitoColouringBook img{
  width: 70%;
 margin-top: 5% !important;
  margin-left: 60% !important; 
}



h2 {
  font-family: monospace;
}

.list {
  list-style: none;
  font-size: 1.1em;
  margin-left: 40%;
  margin-top: 17%;

}

.list-item {
  margin-bottom: 1.3em;
  margin-right: 0.5%;
  font-weight: bold;
  color: #f4efe1;
  font-family: monospace;
}

.list-item::before {
  content: '';
  display: inline-block;
  height: 20px;
  width: 20px;
  background-size: contain;
  background-image: url("https://cdn-icons-png.flaticon.com/128/2702/2702134.png");
  margin-right: 5px;
}

.person-review{
margin-bottom: 10%;
margin-left: -15%;
margin-top: 10%;
}


.reviews {
  font-family: monospace;
  margin-left: 10%;
  display: grid;
  flex-direction: row;
  grid-template-columns: 2fr 2fr 2fr;
  width: 100%;
}

.starReview {
  display: block;
  width: 100%;
  margin: auto;
}

.peak-inside {
  margin-left: 30%;
  font-size: large;
  margin-top: -10%;
 }
 
 
 .devitoColouringPageA{
  width: 75%;
  margin-left: 10%;
  margin-top: 3%;
 }
 
 
 .devitoColouringPageB img{
  height: 50% !important;
  margin-top: 2.5%;
  margin: "auto";
  margin-left: 22.5% !important;
 }
 
 
 .devitoColouringPageC img{
  width: 100% !important;
  margin-top: 4.5% !important;
  margin-left: 4% !important;
  margin: auto;
 }
 

