body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.tbk-heading {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 2.7em;
  margin-left: 130%;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-right: -20%;
}


.tbk-titles {
  display: flex;
  justify-content: flex-end;
  line-height: 10%;
  font-size: 1.35em;
  text-align: right;
  color: #f4efe1;;
}

.bookOTDheader{
  font-size: 2.5em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #f4efe1;
  margin-left: 29%;

}

.bookkeepers-intro {
  position: relative;
}

.bookkeepers-intro img {
  margin-left: 25% !important;
}

.devitoColouringBook img{
  width: 70%;
 margin-top: 5% !important;
  margin-left: 60% !important; 
}



h2 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.list {
  list-style: none;
  font-size: 1.1em;
  margin-left: 40%;
  margin-top: 17%;

}

.list-item {
  margin-bottom: 1.3em;
  margin-right: 0.5%;
  font-weight: bold;
  color: #f4efe1;
  font-family: sans-serif;
}

.list-item::before {
  content: '';
  display: inline-block;
  height: 20px;
  width: 20px;
  background-size: contain;
  background-image: url("https://cdn-icons-png.flaticon.com/128/2702/2702134.png");
  margin-right: 5px;
}

.person-review{
margin-bottom: 10%;
margin-left: -15%;
margin-top: 10%;
}


.reviews {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-left: 10%;
  display: grid;
  flex-direction: row;
  grid-template-columns: 2fr 2fr 2fr;
  width: 100%;
}

.starReview {
  display: block;
  width: 100%;
  margin: auto;
}

